services:
  mcp-orchestrator:
    build: .
    container_name: mcp-demo-container
    ports:
      - "8001:8000"
    environment:
      - PYTHONUNBUFFERED=1

  load-tester:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - ./:/mnt/locust
    command: -f /mnt/locust/locust.py